mods/*.jar
# Keep custom IridescentCraft jars (coremods and data mods)
!mods/iridescent_classes.jar
!mods/iridescent_codex_data.jar
!mods/zeta_racefix-*.jar
resourcepacks/
shaderpacks/
saves/
*.zip
!global_packs/required_data/*.zip
*.rar

