mods/*.jar
# Keep custom IridescentCraft jars (coremods and data mods)
!mods/iridescent_classes.jar
!mods/iridescent_codex_data.jar
!mods/zeta_racefix-*.jar
!mods/mek_walkable_cables-*.jar
resourcepacks/
shaderpacks/
saves/
*.zip
!global_packs/required_data/*.zip
!server_distribution/global_packs/required_data/*.zip
!distribution/client/global_packs/required_data/*.zip
!config/paxi/datapacks/*.zip
!server_distribution/config/paxi/datapacks/*.zip
!distribution/client/config/paxi/datapacks/*.zip
*.rar

