mods/*.jar
!mods/iridescent_codex_data.jar
!mods/iridescent_classes.jar
!mods/iridescent_origins-*.jar
resourcepacks/
shaderpacks/
saves/
*.zip
!global_packs/required_data/*.zip
!config/paxi/pridepack8.0.1.zip
*.rar
